{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/search4'>
<table>
<p>Use this form to submit a search request:</p>
<tr><td>Columns from:</td><td><input name='columns_from' type='TEXT' value='1' width='60'></td></tr>
<tr><td>Columns to:</td><td><input name='columns_to' type='TEXT' value='18' width='60'></td></tr>

<tr><td>Rows from:</td><td><input name='rows_from' type='TEXT' value='1'></td></tr>
<tr><td>Rows to:</td><td><input name='rows_to' type='TEXT' value='1000'></td></tr>
</table>
<p>When you're ready, click this button:</p>
<p><input value='Do it!' type='SUBMIT'></p>
</form>

{% endblock %}
